body {
  color:#353535 ;
  font-family: Arial;
  font-weight: bold;
  background-image: url("../img/background.jpg");
  background-size: 100%;
}
.fontKnobs{
  font-family: Arial;
  font-style: italic;
  font-size: 12.5px;
}
#synth {
  width: 1200px;
  height: 685px;
  background: #212121;
  border-radius: 10px;
  border-style: transparent;
  border-color: #56818a;
  background-image: linear-gradient(to bottom , #dbdbdbe4 , #f8f4f4);
  opacity: 0.95;
  border-width: 4px;
  padding: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 25px 35px 0 rgba(0, 0, 0, 1), 0 20px 40px 0 rgba(0, 0, 0, 0.19);
}

#keyboard, #oscilloscope, #spectrogram {
  border-radius: 5px;
  border-style: solid;
  border-color: #c0c0c0;
  border-width: 2px;
}
#mixBorder {
  border-radius: 5px;
  border-style: solid;
  border-color: #c0c0c0;
  border-width: 2px;
}
.pedal{
  /*width: 5px;*/
  height: 302px;
  background: #212121;
  border-radius: 15px;
  border-style: transparent;
  border-color: #c0c0c0;
  background-image: linear-gradient(to bottom , #9a9a9a , #f8f4f4);
  border-width: 2px;
  padding: 20px;
}
.pedalON{
  /*width: 5px;*/
  height: 302px;
  background: #yellow;
  border-radius: 15px;
  border-style: transparent;
  border-color: darkorange;
  background-image: linear-gradient(to bottom , red , orange);
  border-width: 1px;
  padding: 20px;
}
.component{
  /*width: 5px;*/
  height: 208px;
  background: #212121;
  border-radius: 15px;
  border-style: transparent;
  border-color: #56818a;
  background-image: linear-gradient(to top , #c0c0c0 , #f8f4f4);
  border-width: 2px;
  margin-left: 3px;
  margin-bottom: 3px;
  margin-top: 3px;
  padding: 10px;
}
.componentMix{
  /*width: 5px;*/
  height: 172px;
  background: #212121;
  border-radius: 5px;
  border-style: transparent;
  border-color: #56818a;
  background-image: linear-gradient(to top , #c0c0c0 , #f8f4f4);
  border-width: 2px;
  margin-left: 3px;
  margin-bottom: 3px;
  margin-top: 3px;
  padding: 5px;
}

.inline {
   display: inline-block;
}
.tab {
  display: inline-block;
  margin-left: 75px;
}
.tab2 {
  display: inline-block;
  margin-left: 49px;
}
.tab3 {
  display: inline-block;
  margin-left: 52.5px;
}
.tab4 {
  display: inline-block;
  margin-left: 49px;
}
.tab5 {
  display: inline-block;
  margin-left: 25px;
}
.tab6 {
  display: inline-block;
  margin-left: 5px;
}
.tab7 {
  display: inline-block;
  margin-left: 252.5px;
}
.tab8{
  display: inline-block;
  margin-left: 180px;
}
.tab9{
  display: inline-block;
  margin-left: 150px;
}
.tab10{
  display: inline-block;
  margin-left: 62.5px;
}
.tab11{
  display: inline-block;
  margin-left: 10px;
}
.tab12{
  display: inline-block;
  margin-left: 29px;
}
.tab13{
  display: inline-block;
  margin-left: 15px;
}
.tab14{
  display: inline-block;
  margin-left: 100px;
}
.tab15{
  display: inline-block;
  margin-left: 35px;
}
