body {
  color:#fcb61d ;
  font-family: Arial;
  font-weight: bold;
  background-image: url("img/background_wood.jpg");
}
#synth {
  width: 1200px;
  height: 685px;
  background: #212121;
  border-radius: 10px;
  border-style: solid;
  border-color: #56818a;
  background-image: linear-gradient(to bottom , #212121 , #353e45);
  border-width: 4px;
  padding: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 25px 35px 0 rgba(0, 0, 0, 1), 0 20px 40px 0 rgba(0, 0, 0, 0.19);
}
#keyboard, #Oscilloscope, #Spectrogram{
  border-radius: 5px;
  border-style: solid;
  border-color: #56818a;
  border-width: 2px;
}
.pedal{
  /*width: 5px;*/
  height: 290px;
  background: #212121;
  border-radius: 15px;
  border-style: solid;
  border-color: #56818a;
  background-image: linear-gradient(to bottom , #212121 , #353e45);
  border-width: 2px;
  padding: 20px;
}
.component{
  /*width: 5px;*/
  height: 208px;
  background: #212121;
  border-radius: 15px;
  border-style: solid;
  border-color: #56818a;
  background-image: linear-gradient(to bottom , #212121 , #353e45);
  border-width: 2px;
  padding: 10px;
}

.inline {
   display: inline-block;
}
.tab {
  display: inline-block;
  margin-left: 75px;
}
.tab2 {
  display: inline-block;
  margin-left: 49px;
}
.tab3 {
  display: inline-block;
  margin-left: 52.5px;
}
.tab4 {
  display: inline-block;
  margin-left: 49px;
}
.tab5 {
  display: inline-block;
  margin-left: 25px;
}
.tab6 {
  display: inline-block;
  margin-left: 5px;
}
.tab7 {
  display: inline-block;
  margin-left: 252.5px;
}
.tab8{
  display: inline-block;
  margin-left: 180px;
}
.tab9{
  display: inline-block;
  margin-left: 150px;
}
.tab10{
  display: inline-block;
  margin-left: 62.5px;
}
.tab11{
  display: inline-block;
  margin-left: 10px;
}
.tab12{
  display: inline-block;
  margin-left: 29px;
}
.tab13{
  display: inline-block;
  margin-left: 15px;
}
